<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type = "text/css" href="css/postsFormat.css"/>
	

    <title>Calendar</title>
  </head>
<body>

    <h3>Edit Appoinment</h3>

  <div class="container">
       <%= bootstrap_form_for(@post) do |p| %>
      	<%= p.text_field :id %>
            <%= p.text_field :event_name %>
            <%= p.text_field :event_date %>
            <%= p.text_field :event_time %>
      
            <%= p.submit "Save Changes" %>
           

           
       
    <% end %>

  
	</div>



  </body>
</html>